APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost
APP_KEY=5c5c5ee85d22afd7abc89198163332f3a4f45f11371d07802adf113f4bc83aa7
APP_TIMEZONE=America/Sao_Paulo
JWT_TTL=3600
DB_HOST=localhost
DB_PORT=3306
DB_NAME=nextsi
DB_USER=root
DB_PASS=
